<router-outlet></router-outlet>

<footer>
  <h4>Esto es un footer</h4>
  <p>De aquí a la cola del INEM, Con suerte una empresa en Bangladesh nos hace un outsourcing bien rico. Aporreo el
    teclado como un mono con toda la zorra que tengo. Eternal becario, suicídenme. Vamos directos al paro, a programar
    debajo de un puente robando la <strong>Cómo están los máquinas? Tais bien?</strong> luz de las farolas. Primo, dame
    algo suelto que este servidor no se paga solo.</p>
  <p>&#169 2023</p>
  <p>All right reserved</p>
  <p>Lorem fistrum ese que llega no te digo trigo por no llamarte Rodrigor llevame al sircoo se calle ustée. Amatomaa
    jarl va usté muy cargadoo qué dise usteer a gramenawer no te digo trigo por no llamarte Rodrigor.</p>
</footer>